<div class="container" >
    <div class="row">
        <div class="col-md-10" >

            <div class="card cardMargin" *ngIf="productDetailsData">
                <div class="card-header bg-primary text-white">Product List Details 
                            {{productDetailsData.productId}} - {{productDetailsData.product}}</div>
                <div class="card-body">

                    <div class="container">
                        <div class="row inline">
                            ID: {{productDetailsData.productId}} {{productDetailsData.product}},
                            {{productDetailsData.price}}, {{productDetailsData.code}}, {{productDetailsData.available}},
                            {{productDetailsData.rating}}
                        </div>
                        <div class="row">
                            <img src="{{productDetailsData.productImage}}">
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1"
                            onchange="RegOffice()">                          

                             Register office                          
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1">
                              other
                          </div>
                    </div>


                </div>
                <div class="card-footer">
                    <div class="container">
                        <div class="row">
                            <button type="button" class="btn btn-primary btn-lg" (click)="backFun()">Back</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>